gitter-api.xml

<application xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:apigee="http://api.apigee.com/wadl/2010/07/"
    xmlns="http://wadl.dev.java.net/2009/02"
    xsi:schemaLocation="http://wadl.dev.java.net/2009/02 http://apigee.com/schemas/wadl-schema.xsd http://api.apigee.com/wadl/2010/07/ http://apigee.com/schemas/apigee-wadl-extensions.xsd">

    <resources base="https://api.gitter.im/v1">
        <!-- =============== 
             Groups Resource 
             =============== -->
        <!-- List Groups -->
        <resource path="/groups">
            <param required="true" type="xsd:string" name="Content-Type" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Request content type</doc>
            </param>
            <param required="true" type="xsd:string" name="Accept" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Response accepted type</doc>
            </param>
            <method id="list-groups" name="GET" apigee:displayName="List Groups">
                <apigee:tags>
                    <apigee:tag primary="true">Groups Resource</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="https://developer.gitter.im/docs/groups-resource#list-groups"> List
                    groups the current user is in.</doc>
            </method>
        </resource>

        <!-- List Group Rooms -->
        <resource path="/groups/{group_id}/rooms">
            <param required="true" type="xsd:string" name="Content-Type" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Request content type</doc>
            </param>
            <param required="true" type="xsd:string" name="Accept" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Response accepted type</doc>
            </param>
            <param style="template" name="group_id" type="xsd:string" required="true" default="">
                <doc>Group ID - get by querying `/groups`</doc>
            </param>
            <method id="list-group-rooms" name="GET" apigee:displayName="List Group Rooms">
                <apigee:tags>
                    <apigee:tag primary="true">Groups Resource</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc
                    apigee:url="https://developer.gitter.im/docs/groups-resource#list-rooms-under-group"
                    > List of rooms nested under the specified group.</doc>
                <request>
                    <param style="query" name="type" type="xsd:string" required="false" default="">
                        <doc>Show only the rooms admin of.</doc>
                        <option value=""/>
                        <option value="admin"/>
                    </param>
                </request>
            </method>
        </resource>

        <!-- ============== 
             Rooms Resource 
             ============== -->
        <!-- List Rooms -->
        <resource path="/rooms">
            <param required="true" type="xsd:string" name="Content-Type" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Request content type</doc>
            </param>
            <param required="true" type="xsd:string" name="Accept" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Response accepted type</doc>
            </param>
            <method id="list-room" name="GET" apigee:displayName="List Rooms">
                <apigee:tags>
                    <apigee:tag primary="true">Rooms Resource</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="https://developer.gitter.im/docs/rooms-resource#list-rooms"> List
                    rooms the current user is in or list rooms matching search query. </doc>
                <request>
                    <param name="q" style="query" type="xsd:string" required="false"
                        default="gitterHQ">
                        <doc>Search query</doc>
                    </param>
                    <param name="limit" style="query" type="xsd:positiveInteger" required="false"
                        default="10">
                        <doc>Limit the number of result up to a maximum of `100` results while using
                            search query.</doc>
                    </param>
                </request>
            </method>
        </resource>

        <!-- Show Room Info -->
        <resource path="/rooms">
            <param required="true" type="xsd:string" name="Content-Type" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Request content type</doc>
            </param>
            <param required="true" type="xsd:string" name="Accept" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Response accepted type</doc>
            </param>
            <method id="show-room-info" name="POST" apigee:displayName="Show Room Info">
                <apigee:tags>
                    <apigee:tag primary="true">Rooms Resource</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="https://developer.gitter.im/docs/rooms-resource#join-a-room"> Show
                    room info </doc>

                <request>
                    <representation mediaType="application/json">
                        <apigee:payload required="true">
                            <apigee:content>
                                <![CDATA[{
                                    "uri": "gitterhq/sandbox"
                                }]]>
                            </apigee:content>
                        </apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>

        <!-- Join Room -->
        <resource path="/user/{user_id}/rooms">
            <param required="true" type="xsd:string" name="Content-Type" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Request content type</doc>
            </param>
            <param required="true" type="xsd:string" name="Accept" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Response accepted type</doc>
            </param>
            <param style="template" name="user_id" type="xsd:string" required="true" default="">
                <doc>User ID maybe retrieved using `/user/me` for self or `/users/{username}` for
                    another user.</doc>
            </param>
            <method id="join-room" name="POST" apigee:displayName="Join Room">
                <apigee:tags>
                    <apigee:tag primary="true">Rooms Resource</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="https://developer.gitter.im/docs/rooms-resource#join-a-room"> Join
                    a room by ID. ID maybe retrieved using show room info using `/rooms`. </doc>
                <request>
                    <representation mediaType="application/json" profile="#show-room-info">
                        <apigee:payload required="true">
                            <apigee:content>
                                <![CDATA[{
                                    "id": "52b42a52ed5ab0b3bf051b93"
                                }]]>
                            </apigee:content>
                        </apigee:payload>
                    </representation>
                </request>
            </method>
        </resource>

        <!-- Leave Room -->
        <resource path="/rooms/{room_id}/users/{user_id}">
            <param required="true" type="xsd:string" name="Content-Type" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Request content type</doc>
            </param>
            <param required="true" type="xsd:string" name="Accept" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Response accepted type</doc>
            </param>
            <param required="true" name="room_id" style="template" default="">
                <doc apigee:url="https://developer.gitter.im/docs/rooms-resource#join-a-room"> Room
                    ID maybe retrieved using show room info using `/rooms`. </doc>
            </param>
            <param required="true" name="user_id" style="template" default="">
                <doc apigee:url="https://developer.gitter.im/docs/rooms-resource#join-a-room"> User
                    ID maybe retrieved using `/user/me` for self or `/users/{username}` for another
                    user.</doc>
            </param>
            <method id="leave-room" name="DELETE" apigee:displayName="Leave Room">
                <apigee:tags>
                    <apigee:tag primary="true">Rooms Resource</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc
                    apigee:url="https://developer.gitter.im/docs/rooms-resource#remove-user-from-room-also-leave-a-room"
                    > Leave a room by ID. Room ID maybe retrieved using show room info using
                    `/rooms`. User ID maybe retrieved using `/user/me` for self or
                    `/users/{username}` for another user.</doc>
            </method>
        </resource>

        <!-- ================= 
             Messages Resource 
             ================= -->

        <!-- =============
             User Resource
             ============= -->
        <!-- Self Info -->
        <resource path="/user/me">
            <param required="true" type="xsd:string" name="Content-Type" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Request content type</doc>
            </param>
            <param required="true" type="xsd:string" name="Accept" style="header"
                default="application/json">
                <doc
                    apigee:url="https://developer.gitter.im/docs/rest-api#structure-of-an-api-request"
                    >Response accepted type</doc>
            </param>
            <method id="self-info" name="GET" apigee:displayName="Self Info">
                <apigee:tags>
                    <apigee:tag primary="true">User Resource</apigee:tag>
                </apigee:tags>
                <apigee:authentication required="true"/>
                <doc apigee:url="https://developer.gitter.im/docs/user-resource"> Get information
                    about current authenticated user. </doc>
            </method>
        </resource>

    </resources>

</application>
